.header {
    background-image: url('imgs/noodlestv.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 900px;
    height: 600px;

    display:inline-block;
}

.opaque{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: xx-large;
    text-align: center;
    color: white;
    margin-top: 250px;
}

.glow {
    background-color: black;
    border-style: solid;
    border-color: green;
    border-width: 5px;
    
    box-shadow: 0 0 40px black;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    padding: 5px 10px;
}

.menu {
    background-color: black;
    color: green;

    outline-style: solid;
    outline-width: 2px;
    border-radius: 5px;
    border-width: 0px;

    font-size: large;
    padding: 5px;

}

.titleImg{
    width: 150px;
    height: 50px;
}

.map {
    width: 900px;
}

.information{
    width: 900px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: x-large;
}

.information table {
    flex: 1;
}

.information table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information table th {
    padding: 5px;
    text-align: left;
}